.reddit-item {
	margin: 3;
}

.itemHolder {
    background-color: #eeeeee;
    padding: 5;
    margin: 5;
}

image {
	margin: 0 5 5 5;
}

action-bar {
	background-color: #fb8953;
	color: white;
}

.mainContent {
    background-color: white;
}

.drawerContent {
    background-color: #fa996b;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
    color: white;
}

.headerContent {
    padding:10;
    text-align: center;
     color: white;
}

.drawerSectionHeader {
    padding-left: 10;
    background-color: white;
}

.drawerSectionItem {
    padding: 10 10 10 10;
    color: white;
}